<!DOCTYPE html>

<html lang="es" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="../assets/"
    data-template="vertical-menu-template-free">

<head>
    <%- include('includes/header') %>
</head>

<body>
    <!-- Layout -->
    <div class="layout-wrapper layout-content-navbar layout-without-menu">
        <div class="layout-container">

            <!-- Layout container -->
            <div class="layout-page">

                <!-- Navbar -->
                <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
                    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                        <a href="/" class="app-brand-link me-xl-4">
                            <span class="app-brand-logo demo">
                                <svg width="40" viewBox="0 0 25 25" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path id="Nature"
                                        d="M24.76,4.12C18.34.3,11.9,0,6.13,3.19,2.83,5,.51,8,.08,11.08a7.06,7.06,0,0,0,1.44,5.4A19.32,19.32,0,0,1,9.4,8.61a.5.5,0,1,1,.49.87c-6.53,3.64-8.66,9.11-9.87,14a.49.49,0,0,0,.1.3c.19.24.52.19,1.13.2H2.33c1.09,0,1.1-.07,1.17-.42a20.69,20.69,0,0,1,1.4-4.38c4.86,2.14,11.53-1,14.32-4.36A14.47,14.47,0,0,0,21.67,10C22.35,8.14,23,6.34,24.8,5a.5.5,0,0,0,0-.83Z"
                                        fill="#696cff"></path>
                                </svg>
                            </span>
                            <span class="app-brand-text demo menu-text fw-bolder ms-1">CropManager</span>
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse mx-3" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            </ul>
                            <div class="px-0 mx-3">
                                <a class="btn btn-outline-primary" href="/login"><i class="bx bx-log-in me-1"></i>
                                <span>Iniciar sesión</span></a>
                            </div>
                        </div>
                    </div>
                </nav>
                <!-- / Navbar -->

                <!-- Contenido de la Página principal -->
                <div class="content-wrapper">

                    <!-- Content -->
                    <div class="container-xxl flex-grow-1 container-p-y">
                        <!-- Layout Demo -->
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-5 py-2">
                                <div class="layout-demo-info py-2">
                                    <h1>Gestor integral para la planificación de cultivos de la Parroquia Santa Rosa</h1>
                                    <h4>Organice su información para tener una planificación de cultivos eficiente,
                                        gestione todos sus campos, y organice su rotación de cultivos de manera sencilla.
                                    </h4>
                                    <div class="py-2">
                                        <p>Inicie sesión para empezar</p>
                                        <a class="btn btn-primary" href="/login"><span>Iniciar sesión</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-5 py-n2">
                                <img width="430" height="430" src="/assets/img/illustrations/crops.svg" alt=""/>
                            </div>
                        </div>

                        <!--/ Layout Demo -->
                    </div>
                    <!-- / Contenido -->

                    <!-- Footer -->
                    <%- include('includes/footer') %>
                    <!-- / Footer -->

                    <div class="content-backdrop fade"></div>
                </div>
                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="/assets/vendor/libs/popper/popper.js"></script>
    <script src="/assets/vendor/js/bootstrap.js"></script>
    <script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="/assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="/assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="/assets/js/dashboards-analytics.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>