.idred {
    color: #FF4C4C;
}

.hideContainer {
    display: none;
}

.container_options {
    width: 19rem;
    height: 79%;
    padding: 1rem;
    margin-right: 2rem;
    margin-top: 2rem;
    border-style: solid;
    border-width: 0;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    right: 0;
    z-index: 999;
}

.container_datos_cultivo {
    width: 19rem;
    padding: 1rem;
    margin-right: 2rem;
    margin-top: 2rem;
    border-style: solid;
    border-width: 0;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    right: 0;
    z-index: 999;
}

.container_prediccion {
    width: 19rem;
    padding: 1rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    border-style: solid;
    border-width: 0;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.container_cosechar {
    width: 19rem;
    height: 79%;
    padding: 1rem;
    margin-right: 2rem;
    margin-top: 2rem;
    border-style: solid;
    border-width: 0;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    right: 0;
    z-index: 999;
}

.container_rotacion {
    width: 19rem;
    height: 79%;
    padding: 1rem;
    margin-right: 2rem;
    margin-top: 2rem;
    border-style: solid;
    border-width: 0;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    right: 0;
    z-index: 999;
}

.container_buscador {
    width: 10rem;
    margin-left: 2rem;
    margin-top: 2rem;
    border-style: solid;
    border-width: 0;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    z-index: 999;
}